:root {
  --color-github: #000000;
  --color-gmail: #d44638;
  --color-linkedin: #2867b2;

  --color-grey: #37322e;
  --color-grey-light: #ebebeb;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-orange: #ffc331;

  --color-book: #a259ff;
  --color-course: #ea4335;
  --color-conference: #2ba977;
  --color-employment: #1f9cf0;
}
