.container {
  background-color: #ffc331;
  display: grid;
  justify-items: center;
  row-gap: 1rem;
  padding: 6rem 0;
  @media only screen and (min-width: 700px) {
    padding: 7rem 0;
  }
}

.list {
  width: 100%;
  display: grid;
  row-gap: 1.4rem;
  list-style: none;
  // border: 1px solid red;
  // background-color: white;
}

.skillList {
  list-style: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 12rem);
  justify-content: center;

  @media only screen and (min-width: 700px) {
    grid-template-columns: repeat(3, 16rem);
    gap: 1.2rem;
  }

  @media only screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 18rem);
    gap: 1.2rem;
  }
}

.skill-set {
  display: grid;
  row-gap: 1.2rem;
  text-align: center;
  padding-top: 1rem;
}

.skills_header {
  display: flex;
  padding: 2%;
  display: block;
  justify-content: center;

  /* border: 1px solid rgb(255, 0, 0); */
}
.skills_header > h1 {
  text-align: center;
}

.skills_using {
  display: grid;
  grid-template-rows: 0.2fr 2fr;
  justify-content: center;
  align-items: flex-start;
  gap: 2%;
}

.skills_using_header {
  text-align: center;
  font-size: 2rem;
  padding-top: 2%;
  padding-bottom: 1%;
  /* border: 1px solid orange; */
}

.skills_using_content {
  display: grid;
  grid-template-columns: repeat(5, 15rem);
  width: 100%;
  padding: 0 3% 0 3%;
  margin: 4% 4% 0 4%;
  justify-content: space-evenly;
  row-gap: 1.4rem;
  gap: 2rem;

  /* border: 1px solid black; */
}

.skills_learning {
  display: grid;
  grid-template-rows: 0.2fr 2fr;
  justify-content: center;
  align-items: flex-start;
  gap: 2%;

  /* border: 1px solid rgb(218, 12, 12); */
}

.skills_learning_header {
  font-size: 2rem;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;
}
.skills_learning_content {
  display: grid;
  grid-template-columns: repeat(5, 15rem);
  width: 100%;
  padding: 0 3% 0 3%;
  margin: 4% 4% 0 4%;
  justify-content: space-evenly;
  row-gap: 1.4rem;
  gap: 2rem;

  /* border: 1px solid black; */
}
