@media only screen and (min-width: 992px) {
  .footer {
    width: 100vw;
    padding: 3rem;
    background-color: #2e2a27;
    display: flex;
    justify-content: space-between;
  }

  .links {
    display: flex;
    align-items: center;
    h3 {
      font-size: 1.5rem;
      font-weight: 900;
      color: #ffffff;
      padding-right: 0.7rem;
      padding-left: 0.7rem;
    }
  }

  .icon {
    display: flex;
  }

  .icon > h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    align-self: center;
  }

  .socials {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    list-style: none;
    margin: 0.4rem;
  }

  .socials {
    svg {
      background-color: #ffc331;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      padding: 0.2rem;
      border: 3px solid white;
    }
  }
  .tech_stack {
    color: #ffc331;
    font-weight: 700;
  }
}

@media only screen and (max-width: 992px) {
  .footer {
    width: 100vw;
    padding: 2rem;
    background-color: #2e2a27;
    display: grid;
    justify-content: center;
  }

  .links {
    display: grid;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 1.2rem;
      font-weight: 900;
      color: #ffffff;
      justify-self: center;
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;
    }
  }
  .icon {
    display: flex;
  }

  .icon > h4 {
    font-size: 0.8rem;
    font-weight: 700;
    color: #ffffff;
    justify-content: center;
    align-self: center;
    text-align: center;
  }

  .socials {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    column-gap: 0.6rem;
    list-style: none;
  }

  .socials {
    svg {
      fill: var(--color-grey);
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      padding: 0.2rem;
      background-color: #ffc331;
      border: 3px solid white;
    }
  }
  .tech_stack {
    color: #ffc331;
    font-weight: 700;
    padding-top: 2%;
  }
}
