@media only screen and (min-width: 992px) {
  .container {
    /* background-color: tomato; */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10%;
    width: 100vw;
    height: 75vh;
  }

  .about_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: flex-start;
  }

  .image_container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid orange; */
  }
  .image_container > img {
    padding-top: 3%;
    width: 90%;
    height: 90%;
  }
  .image_divider {
    margin-left: 5%;
    margin-top: 2%;
    border-left: 6px solid #d6a329;
    height: 37vh;
  }
  .about_right {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1%;
  }

  .about_title {
    font-size: 2.2rem;
  }

  .about_subtitle {
    font-size: 1.7rem;
    margin: 1% 0 3% 0;
    font-weight: 700;
  }

  .about_content {
    display: flex;
    font-size: 1.5rem;
    justify-content: flex-start;
    font-family: "Sen", sans-serif;
    font-weight: 400;
    word-break: break-word;
    p {
      margin-bottom: 2%;
    }
  }

  .social_container {
    display: flex;
    height: 70vh;
    width: 20vw;
    align-items: flex-end;
    justify-content: center;
  }

  .socials {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    column-gap: 0.6rem;
    list-style: none;
    margin: 0.4rem;
  }

  .social {
    svg {
      fill: var(--color-grey);
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      padding: 0.2rem;
      border: 2px solid var(--color-grey);
    }
  }
}

@media only screen and (max-width: 992px) {
  .container {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3%;
    width: 100vw;
    height: 82vh;
  }

  .about_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    align-items: flex-start;
  }

  .image_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .image_container > img {
    width: 43%;
    height: auto;
  }
  .image_divider {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    border-bottom: 4px solid #d6a329;
    height: 2vh;
    border-radius: 5%;
  }

  .about_title {
    font-size: 1.7rem;
    text-align: center;
  }

  .about_subtitle {
    font-size: 1.6rem;
    margin: 1% 0 2% 0;
    text-align: center;
  }

  .about_content {
    margin-top: 6%;
    font-size: 1.5rem;
    text-align: center;

    p {
      margin-bottom: 5%;
      margin-top: 2%;
    }
  }

  .socials {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    column-gap: 0.6rem;
    list-style: none;
    margin: 0.4rem;
    align-items: flex-end;
  }

  .social {
    svg {
      fill: var(--color-grey);
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      padding: 0.2rem;
      border: 2px solid var(--color-grey);
    }
  }
}
